* {
  margin: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header header header"
    "Smallb1 Smallb2 Smallb3 sidebar "
    "Main Main Main sidebar "
    "footer footer footer footer";
  grid-template-rows: 0.7fr 1.5fr 1fr 0.5fr;
  color: white;
  grid-gap: 0.9rem;
  margin: 1rem;
}
.content {
  background-color: #4169e1;
  /* border: 1px solid; */
  padding: 1rem;
  font-size: larger;
  /* border: 1px solid; */
}
.c1 {
  grid-area: header;
}
.c5 {
  grid-area: sidebar;
}
.c6 {
  grid-area: Main;
}
.c7 {
  grid-area: footer;
}
