*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3,1fr) 0.7fr;
    grid-template-rows: .7fr 1.5fr 1fr 0.5fr;
    color: white;
    grid-gap: .9rem ;
    margin: 1rem;

}
.content{

    background-color:#4169E1;
    border: 1px solid;
    padding: 1rem;
    font-size: larger;

}
.c1{
    grid-column: span 4;
}
.c5{
    grid-row: span 2;
}
.c6{
    grid-column: span 3;
}
.c7{
    grid-column: span 4;
}